@import './reveal.css';
@import './rebrand-blue.css';

 .ref-NeckLine {
    top: -60px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 300px;
    height: 150px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.ref-NeckLine-inky {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%);
    background-size: 3.125rem 3.125rem;
    height: 3.125rem;
    width: 3.125rem;
}
